<!DOCTYPE html>
<html lang="fr">
    <meta charset="UTF-8">
    <title>Bienvenue</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
		
    {% endblock %}
</html>

<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> Bienvenue </h5>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at pretium ante. Pellentesque pharetra at est maximus sodales. Vestibulum maximus tortor lorem, eu ultricies est finibus eu. Quisque a congue purus, id sagittis mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        </p>
                        <hr>
                        <h5 class="card-title">Informations nécessaires</h5>
                        <hr>
                        {{ form(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
